*.iml
.gradle/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
.idea
/.idea/assetWizardSettings.xml
.DS_Store
/build
captures/
.externalNativeBuild/
.cxx/
assetWizardSettings.xml
local.properties
app/google-services.json
*/build/
*.apk
*.aar
*.ap_
*.dex
gitignore



